name: CD - Deploy to EC2 AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to EC2 using SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            echo "Pulling image..."
            docker pull difervi/devops-kata:latest

            echo "Stopping old container..."
            docker stop devops-kata || true
            docker rm devops-kata || true

            echo "Starting new container..."
            docker run -d \
              --name devops-kata \
              --label: "com.datadoghq.tags=service:devops-kata,env:prod,team:devops,version:latest" \
              difervi/devops-kata:latest \
              tail -f /dev/null
